/* 
=============================================
                RESPONSIVE 
      INFO:
        VERSION: 1.0
        DATE: 21/03/2024
        AUTHOR: THE4 STUDIO
        DEV: CHIEN

      STRUCTOR
        
        1.  HEADER
        2.  HERO BANNER
        3.  DEMO LIST
        4.  ECOMPOSER
        5.  THEME
        6.  TABS
        7.  FEATURES GRID
        8.  HEADERS LAYOUT
        9.  ECOMRISE
        10. FEATURE PREMIUM
        11. CUSTOMER REVIEW
        12. TABLE
        13. FONTIFY
        14. EXCLUSIVE DEALS
        15. FAQs
        16. FOOTER
    
      MEDIA
        LG: 993 -> 1024  -> @media (max-width: 1024px){}
        MD: 768 -> 992   -> @media (max-width: 992px){}
        SM: 000 -> 767   -> @media (max-width: 767px){}
=============================================
*/

@media (max-width: 1024px) {
  .hero-banner .section-inner {
    padding: 150px 0;
  }
  .ecomposer .section-inner {
    padding: 100px 0;
    padding-bottom: 0;
  }
  .ecomposer .section-tophead {
    margin-bottom: 50px;
  }
  .for_theme .section-inner {
    padding: 100px 0;
  }
  .tabs_pages .section-inner {
    padding: 100px 0;
    margin: 100px 0;
  }
  .feature_grid .col-inner {
    padding: 30px;
    height: 100%;
  }
  .premium .section-inner {
    padding-top: 100px;
  }
  .premium .content .col-inner {
    padding: 30px;
  }
  .premium .content .col-inner br {
    display: none;
  }
  .review .section-inner {
    padding: 100px 0;
  }
  .quote_wrap {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .deals .content .col-inner {
    gap: 10px;
    padding: 20px 10px;
  }
  .deals .content .row {
    --bs-gutter-x: 15px;
    --bs-gutter-y: 15px;
  }
}
@media (max-width: 992px) {
  
  .hero-banner .section-inner {
    padding-bottom: 100px;
  }
  .hero-banner .hero-text {
    width: 100%;
  }
  #render_list_demo {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 30px;
  }
  .ecomposer .section-inner {
    padding: 70px 0;
  }
  .ecomposer .section-tophead {
    margin-bottom: 30px;
  }
  .for_theme .section-inner {
    padding: 70px 0;
  }
  .for_theme .section-tophead {
    margin-bottom: 70px;
  }
  .for_theme .theme_required {
    margin-top: 70px;
    gap: 10px;
  }
  .tabs_pages .section-inner {
    margin: 70px 0;
    padding: 70px 0;
  }
  .tabs_pages .section-inner .t4-text {
    width: 90%;
    margin: 0 auto;
  }
  .tabs_pages tabs-group {
    margin: 40px 0;
  }
  .header_layouts .section-inner {
    padding: 70px 0;
  }
  .ecomrise .section-inner {
    --padding: 50px;
  }
  .ecomrise .media {
    margin: 70px auto;
  }
  .review .section-inner {
    margin-top: 70px;
    padding: 70px 0;
  }
  .table_sale .section-inner{
    padding-top: 70px;
  }
  .table_sale .t4_total {
    width: 200px;
  }
  .fontify .section-inner {
    margin-top: 70px;
    padding: 70px 0;
  }
  .fontify .section-inner .section-tophead {
    padding: 0 15px;
  }
  .fontify .section-inner .section-tophead .t4-text br {
    display: none;
  }
  .deals .section-inner {
    padding-top: 100px;
    margin-top: -50px;
  }
  .faqs .section-inner {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  footer .section-inner {
    padding: 70px 0;
  }
  .premium .section-inner {
    padding-top: 100px;
    margin-top: -40px;
  }
}
@media (max-width: 767px) {
  .hero-banner .hero-count-wrap {
    gap: 30px;
  }
  .hero-banner .section-inner {
    padding: 100px 0;
  }
  .for_theme .theme_required li {
    margin: 0 10px;
  }
  .tabs_pages .section-inner .t4-text br {
    display: none;
  }
  .tabs_pages tabs-group {
    gap: 8px;
    margin: 30px 0;
  }
  .tabs_pages tabs-group button {
    font-size: 14px;
  }
  .ecomrise .ecomrise_form,
  .ecomrise .form_wrap {
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .ecomrise .input_wrap {
    width: 80vw;
  }
  .review .t4-text br {
    display: none;
  }
  .table_sale .t4-t_head {
    font-size: 14px;
    height: 60px;
    padding: 0 4px;
  }
  .table_sale ul li {
    font-size: 12px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .table_sale .t_row_total {
    height: 60px;
  }
  .table_sale .t4_total {
    font-size: 12px;
    width: 80%;
    height: 40px;
  }
  .table_sale .section-inner {
    padding-bottom: 20px;
  }
  .table_sale ul li::before {
    width: calc(100% - 15px);
  }
  .fontify .t4-heading {
    font-size: 22px;
  }
  .fontify .section-inner {
    padding-bottom: 0;
  }
  .header_layouts .row{
    --bs-gutter-y:30px;
  }
  .premium .t4-heading {
    font-size: 26px;
  }
  .tabs_pages tabs-group button{
    font-size: 12px;
  }
}
@media (max-width: 375px) {

  .fontify .t4-heading{
    font-size: 20px;
  }

}
